#1- Convert given hrs & mins in second

In [ ]:
h = int(input("Enter hours: "))
m = int(input("Enter minitess: "))

sec = (h*3600) + (m*60)

print("Hours are",h,"and minites are",m,"seconds are",sec)

Enter hours: 1
Enter minitess: 20
Hours are 1 and minites are 20 seconds are 4800

# 8) Pattern

In [ ]:
n ='13567'
 
for i in range(0,len(n)):
  print(n[i]*(i+1))

1
33
555
6666
77777

# 4)-Write a code to accept a number & print

In [ ]:
num =int(input("Enter a number :"))
list = ['Zero','One','Two','Three','Four','five']

for i in range (0,len(list)+1):
  if i==num:
    print(list[i])

Enter a number :2
Two

# 3) Pattern   EXTRA

In [ ]:
n = "10101"
 
for i in range(1,len(n)+1):
  print(n[:i])

1
10
101
1010
10101

# 5) Math Class

In [ ]:
class Math:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def Add(self):
    return self.a+self.b
  def Sub(self):
    return self.a-self.b
  def Mul(self):
    return self.a * self.b
  def Div(self):
    return self.a/self.b

In [ ]:
c = Math(20,10)

In [ ]:
print(c.Add())
print(c.Sub())
print(c.Mul())
print(c.Div())

30
10
200
2.0

# 9)Accept String & print only alternate characters on a string.

In [ ]:
string = input("Enter a string : ")

print(string[1::2])

Enter a string : Prathmesh
rtms

# 7) Convert Paise in Rupees

In [ ]:
ps=float(input("Enter a paise "))

rs= ps//100
paise=ps%100

print("the total Rupees are:",rs,"Paise",paise)

Enter a paise 120
the total Rupees are: 1.0 Paise 20.0